{% extends 'base.html' %}
{% load markdownify %}

{% block title %}
    {{article.headline}}
{% endblock title %}
    

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ article.headline }}</h1>
            <p class="lead">{{ article.short_desc }}</p>
            <hr class="my-4">
            {{article.content | markdownify}}
            <br>
            <br>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
    </div>
{% endblock content %}
    